p, #main li {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --primary-color: #313f45 !important;
  --body-color: #f9f9f9 !important;
  --text-color: #636363 !important;
  --text-color-dark: #242738 !important;
  --white-color: #ffffff !important;
  --light-color: #f8f9fa !important;
  --code-bg-color: #f6f6f6 !important;
  --color-table: #f8f8f8 !important;
  --hr-color: rgba(0,0,0,.1) !important;
  --header-color: rgba(94, 186, 189, 1) !important;
  --col-shadow-1: rgba(12, 13, 14, 0.1) !important;
  --col-shadow-2: rgba(255, 255, 255, 0.1) !important;
  --bg-image: url("https://docs.metapsy.org/images/banner.jpg");
  --bs-dark2: #313f45;
  --bs-primary: #0372b7;
  --bs-secondary: #6c757d;
  --bs-info: rgba(94, 186, 189, 1);
  --bs-gradient2: linear-gradient(90deg, rgba(94, 186, 189, 1), rgba(3, 114, 183, 1));
  --color-tip: #e6f9e6 !important;
  --color-tip-above: #78c578;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --fa-style-family-brands: "Font Awesome 6 Brands";
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
  --fa-style-family-classic: "Font Awesome 6 Free";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
  --font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  font-family: var(--font-family),sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 18px !important;
  margin-top: 0;
  color: var(--text-color);
  margin-bottom: 10px;
}

body {
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

code {
text-decoration: none;
}

code a:hover {
text-decoration: underline;
}


main {
box-shadow: 0 0px rgb(12 13 14), 0 1px 6px 3px rgb(59 64 69 / 12%);
background: white;
}

body {
background: #f9f9f9 !important;
}

.row>main {
  max-width: 56rem !important;
  padding-left: 3% !important;
  padding-right: 3% !important;
  margin-bottom: 50px !important;
  padding-top: 25px;
  padding-bottom: 25px;
}


h1 {
font-size: 28px !important;
font-weight: 500;
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

h2 {
font-size: 26px !important;
font-weight: 500;
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

h3 {
font-size: 22px !important;
font-weight: 500;
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

h4 {
font-size: 20px !important;
font-weight: 500;
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

h5 {
font-size: 20px !important;
font-weight: 500;
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

aside h2, aside .h2 {
  margin-top: 1.5rem;
  font-size: 20px !important;
  color: black;
  font-weight: 400;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

aside {
font-weight: 400 !important;
color: #636363;
}

aside h2 {
color: #636363;
font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.dropdown-item {
font-weight: 400
}

.navbar {
box-shadow: 0 0 5px black;
}


.fu {
font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
font-weight: 600;
}

.kw {
font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
font-weight: 600;
}

p > code {
font-weight: 600;
}

code {
font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
color: #474747;
}

/* Font */
@font-face {
font-family: 'SF Mono Regular';
font-style: normal;
font-weight: normal;
src: local('SF Mono Regular'), url('fonts/SFMonoRegular.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Regular Italic';
font-style: normal;
font-weight: normal;
src: local('SF Mono Regular Italic'), url('fonts/SFMonoRegularItalic.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Light';
font-style: normal;
font-weight: normal;
src: local('SF Mono Light'), url('fonts/SFMonoLight.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Light Italic';
font-style: normal;
font-weight: normal;
src: local('SF Mono Light Italic'), url('fonts/SFMonoLightItalic.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Medium';
font-style: normal;
font-weight: normal;
src: local('SF Mono Medium'), url('fonts/SFMonoMedium.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Medium Italic';
font-style: normal;
font-weight: normal;
src: local('SF Mono Medium Italic'), url('fonts/SFMonoMediumItalic.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Semibold';
font-style: normal;
font-weight: normal;
src: local('SF Mono Semibold'), url('fonts/SFMonoSemibold.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Semibold Italic';
font-style: normal;
font-weight: normal;
src: local('SF Mono Semibold Italic'), url('fonts/SFMonoSemiboldItalic.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Bold';
font-style: normal;
font-weight: normal;
src: local('SF Mono Bold'), url('fonts/SFMonoBold.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Bold Italic';
font-style: normal;
font-weight: normal;
src: local('SF Mono Bold Italic'), url('fonts/SFMonoBoldItalic.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Heavy';
font-style: normal;
font-weight: normal;
src: local('SF Mono Heavy'), url('fonts/SFMonoHeavy.woff') format('woff');
}


@font-face {
font-family: 'SF Mono Heavy Italic';
font-style: normal;
font-weight: normal;
src: local('SF Mono Heavy Italic'), url('fonts/SFMonoHeavyItalic.woff') format('woff');
}


